# Ignore all
*

# Unignore all dirs
!*/

# Unignore .txt, .c, .h
!*.txt
!*.TXT
!*.c
!*.h

# Unignore markup
!*.ad
!*.adoc
!*.md
!*.MD

# VS
.vs/
.vscode/

# CMake
CMakeCache.txt
CMakeFiles/
*-build/
cmake-build-debug/
build/
_build/


# Unignore .gitignore, .clang-format and .clang-tidy
!.gitignore
!.clang-format
!.clang-tidy
!.makefile
!.Makefile