# Ignore all
*

# Unignore all dirs
!*/

# Unignore .dic, .tex
!*.dic
!*.pat
!*.tex

# Unignore .txt, .c, .h
!*.txt
!*.c
!*.h

# Unignore markup
!*.ad
!*.adoc
!*.md
!*.MD

# VS
.vs/
.vscode/

# Unignore .gitignore, .clang-format and .clang-tidy
!.gitignore
!.clang-format
!.clang-tidy
!.makefile
!.Makefile